/* CSS MODULE (ProductListing.module.css) */
.productContainer {
  text-align: center;
  height: 700px;
  margin-top: 60px;
  /* margin-bottom:150px ; */
}
.productContainer h2{
  font-size: 30px;
  margin-bottom: -60px;
}

.carouselWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 410px;
  margin-top: 30px;

}

.navButton {
  background-color: #ffffff;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.navButton:hover {
  background-color: #f0f0f0;
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  height: 300px;
}

.productCard {
  background: #ffffff;
  /* border-radius: 12px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 80%;
  /* height: 300px; */
}

.productCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activeCard {
  border: 2px solid #007bff;
}

.productImage {
  width: 100%;
  height:280px;
  object-fit: cover;
  /* border-radius: 8px; */
}

h3 {
  font-size: 16px;
  margin: 10px 0;

}

.rating {
  color: #ffcc00;
  margin-top: -5px;
}

p {
  /* margin: 5px 0; */
}

.actionButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.wishlistButton,
.addToCartButton,
.goToCartButton {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.wishlistButton:hover,
.addToCartButton:hover {
  background-color: #444444;
}
.navButton{
  margin-top: 100px;
}