/* Checkout.module.css */

.checkoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  min-height: 70vh;
  padding: 0;
  position: relative;
  padding-bottom: 100px; /* Space for fixed buttons */
  /* box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); */
  width: 500px;
  margin-left: 30%;
  border-radius: 5px;
  margin-top: 80px;
  
}


.shoppingCart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* margin-top: 80px; */
}

h2 {
  font-size: 1.2rem;
  margin: 0;
}

.clearAllButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.productList {
  width: 100%;
  max-width: 400px;
  overflow-y: auto;
  flex: 1;
  margin-top: 10px;
  margin-bottom: 35px;
}

.checkoutItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.checkoutImage {
  width: 60px;
  height: auto;
  object-fit: cover;
}

.checkoutDetails {
  flex: 1;
  margin-left: 15px;
  margin-top: 10px;
}

.checkoutDetails h3 {
  font-size: 1rem;
  margin: 0 0 5px 0;
}

.checkoutDetails p {
  font-size: 0.9rem;
  color: #555;
  margin: 3px 0;
}

.removeButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.fixedCheckoutActions {
  position: fixed;
  bottom: 0;
  width: 400px;
  /* height: 50px; */
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); */
}

.checkoutSummary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  padding: 10px 0;
  border-top: 1px solid #ddd;
}

.viewCartButton, .confirmOrderButton {
  background-color: #008000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  margin: 5px 0;
  border-radius: 5px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  cursor: pointer;
}

.viewCartButton:hover, .confirmOrderButton:hover {
  background-color: #006400;
}
